.wrapper {
    background-color: #b165f7;
    width: 600px;
    border-radius: 20px;
    padding: 20px 10px;
    border: 3px solid black;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-field {
    width: 95%;
    position: relative;
    height: 40px;
    margin: 10px 0;
    margin-left: 10px;
}

.input-field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #d0b2ed;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}

.input-field input::placeholder {
    color: black;
    
}

.wrapper label {
    font-size: 24px;
    padding: 10px;
}

.wrapper .forgot {
    text-align: right;
    margin-right: 10px;
}

.wrapper a {
    color: black;
}

.wrapper a:hover {
    color: #481d70;
}

.wrapper .forgot { 
    font-size: 20px;
    margin-left: 10px;
}

.wrapper p {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.wrapper p a {
    color: black;
}

.wrapper button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.wrapper button:hover {
    background-color: #481d70;
    color: white;
}